@import '../node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --black: #0d0d0d;
    --secondary-black: #1f1f1f;
}

p {
    margin: 0;
}

body {
    background-color: var(--black);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

input {
    padding: 8px;
    border: 0;
    background-color: var(--secondary-black);
    border-radius: 8px;
    font-size: 15px;
    outline: 0;
    caret-color: white;
    color: white;
}

.header {
    padding: 10px;
    display: grid;
    justify-content: center;
    align-items: stretch;
}

.form {
    background-color: var(--secondary-black);
    border-radius: 20px;
    padding: 0px 13px 0px 10px;
    display: flex;
}

button {
    background-color: var(--secondary-black);
    outline: 0;
    border: 0;
    color: white;
    padding: 0;
    cursor: pointer;
}

.body {
    width: 75ch;
    margin: 27vh auto 0px auto;
    display: grid;
    justify-content: center;
    grid-gap: 5px;
}

.location {
    font-size: 40px;
    text-align: center;
}

.temperature {
    font-size: 100px;
    text-align: center;
}

.conditions {
    font-size: 30px;
    text-align: center;
}

.description {
    font-size: 20px;
    text-align: center;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    max-height: 100vh;
    z-index: -100;
    opacity: 0.5;
}

.error {
    color: red;
    font-weight: 40px;
    font-size: 30px;
}

.error-container {
    text-align: center;
    margin-top: 90px;
}

.loader {
    border: 12px solid #f3f3f3; /* Light grey */
    border-top: 12px solid var(--black); /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }